@charset "UTF-8";

button.plain{
  padding: 0;
  border: none;
  background: none;
}

.btn-wrap{
	margin: 12px/$ppr 0;
	padding: 0 12px/$ppr;
}

.btn[type="button"],
.btn[role="button"]{
	display: inline-block;
  padding: 6px/$ppr 15px/$ppr;
  margin-bottom: 0;
  font-size: 15px/$ppr;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  // -ms-touch-action: manipulation;
  // touch-action: manipulation;
  cursor: pointer;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px/$ppr;
  box-sizing: border-box;
  &.btn-block{
  	display: block;
  	width: 100%;
  }
  &.btn-danger{
  	color: #fff;
  	background-color: #D00;
  	border-color: #D00;
  }
	&.btn-simple{
		color: #D00;
		background-color: #fff;
		border-color: #D00;
	}

}
