@charset "UTF-8";

.svg-icon{
	display: block;
	height: 24px/$ppr;
	width: 24px/$ppr;
	margin: auto;

	&.svg-icon--middle{
		display: inline-block;
		vertical-align: middle;
	}

}



.svg-icon svg, 
.svg-icon img,
.svg-icon--middle svg,
.svg-icon--middle img {
    display: block;
    width: inherit;
    height: inherit;
    fill: currentColor;
}

/* fix the svg sprites for svg-sprites-loader */
svg path{ fill: currentColor; }

//------------------------------------
// direction icon

@mixin icon-direction($dir, $size: 2px/$ppr, $color: #fff){
	@if $dir == top{
		border-left: $size solid $color;
		border-top: $size solid $color;
	}@else if $dir == right{
		 border-right: $size solid $color;
		border-top: $size solid $color;
	}@else if $dir == left{
	  border-left: $size solid $color;
		border-bottom: $size solid $color;
	}@else if $dir == bottom{
		 border-right: $size solid $color;
		border-bottom: $size solid $color;
	}

}

.dir-icon{
	display: inline-block;
	&:after{
		content: "";
		width: 10px/$ppr;
	  height: 10px/$ppr;
	  display: inline-block;
	  transform: rotate(45deg);
	  margin-top: -2px/$ppr;
	  text-indent: -9999px;
	  overflow: hidden;
		vertical-align: middle;
	}

	&.top-dir-icon:after{
		@include icon-direction("top",2px/$ppr, #d8d8d8);
	}
	&.right-dir-icon:after{
		@include icon-direction("right",2px/$ppr, #d8d8d8);
	}
	&.bottom-dir-icon:after{
		@include icon-direction("bottom",2px/$ppr, #d8d8d8);
	}
	&.left-dir-icon:after{
		@include icon-direction("left",2px/$ppr, #d8d8d8);
	}

	&.inherit-color:after{
		border-color: inherit;
	}

}
