@charset "UTF-8";

.svg-icon{
	display: block;
	height: 0.24rem;
	width: 0.24rem;
	margin: auto;
}

.svg-icon svg, 
.svg-icon img {
    display: block;
    width: inherit;
    height: inherit;
}

//------------------------------------
// sprite icon
// .sprite-icon{
// 	display: inline-block;
// 	&:after{
// 		content: "";
// 		width: 0.12rem;
// 	  height: 0.12rem;
// 	  display: inline-block;
// 	  text-indent: -9999px;
// 	  overflow: hidden;
// 		vertical-align: middle;
// 	}
// }

//------------------------------------
// direction icon

@mixin icon-direction($dir, $size: 0.02rem, $color: #666){
	@if $dir == top{
		border-left: $size solid $color;
		border-top: $size solid $color;
	}@else if $dir == right{
		 border-right: $size solid $color;
		border-top: $size solid $color;
	}@else if $dir == left{
	  border-left: $size solid $color;
		border-bottom: $size solid $color;
	}@else if $dir == bottom{
		 border-right: $size solid $color;
		border-bottom: $size solid $color;
	}

}

.dir-icon{
	display: inline-block;
	&:after{
		content: "";
		width: 0.12rem;
	  height: 0.12rem;
	  display: inline-block;
	  transform: rotate(45deg);
	  text-indent: -9999px;
	  overflow: hidden;
		vertical-align: middle;
	}

	&.top-dir-icon:after{
		@include icon-direction("top",0.02rem, #d8d8d8);
	}
	&.right-dir-icon:after{
		@include icon-direction("right",0.02rem, #d8d8d8);
	}
	&.bottom-dir-icon:after{
		@include icon-direction("bottom",0.02rem, #d8d8d8);
	}
	&.left-dir-icon:after{
		@include icon-direction("left",0.02rem, #d8d8d8);
	}

}
