@charset "UTF-8";

.jumbotron-main{
	margin: auto;
	max-width: 540px/$ppr;
	min-height: calc(100vh - #{40px/$ppr} - #{50px/$ppr});
}

.normal-layer{
	background-color: #fff;
	margin-bottom: 12px/$ppr;
	padding: 0 12px/$ppr;
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;

	&.no-padding-layer{ padding: 0; }

	&.no-border-layer{ border: none; }

	&.no-background-layer{ background-color: inherit; }

	&:last-of-type{
		margin-bottom: 0;
	}

}

// --------------------------------
// just for list feature item
// --------------------------------
.feature-list{

	.tip-right{ float: right; }
	.text-gray{ color: #999; }
	.text-black{ color: #000; }

	.feature-item-title{
		color: #666;
		border-bottom: 1px solid #eee;
	}

	.inner-bar{
		padding: 10px/$ppr 12px/$ppr;
		display: block;
		&.select-bar{
			position: relative;
			display: block;
			select{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				width: 100%;
			}
		}
		&.label-bar{
			position: relative;
			display: block;
			.label-field{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				width: 100%;
			}
		}
	}

	@at-root{
		// gap
		.border-gap-list .feature-item{
			border-bottom: 1px solid #eee;
			&:last-of-type{ border-bottom: 0; }
		}

		// active
		.interaction-list .feature-item:not(.no-interaction-item):active{
			background-color: #f0f0f0;
		}

	}

}

