@charset "UTF-8";


//================================================

// --------------------------------
// masthead
.masthead-section{
	color: #fff;
	padding-left: 0.12rem;
	padding-right: 0.12rem;
  min-height: 1.32rem;
  
  background: -moz-linear-gradient(90deg, #FF2B1C 0, #FF426E 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 90deg, color-stop(0, FF2B1C), color-stop(100%, FF426E));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(90deg, #FF2B1C 0, #FF426E 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(90deg, #FF2B1C 0, #FF426E 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(90deg, #FF2B1C 0, #FF426E 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
	background: linear-gradient(90deg, #FF2B1C 0, #FF426E 100%);/* W3C */

  a { color: inherit; }
	.masthead-nologin{
		text-align: center;
		.masthead-title{
			padding-top: 0.12rem;
		}
		.masthead-button{
			display: inline-block;
			width: 0.8rem;
			height: 0.3rem;
			margin: 0.2rem auto;
			line-height: 0.3rem;
			color: #ff4545;
			font-size: 0.14rem;
			border-radius: 0.04rem;
			border: 0.01rem solid #fff;
			background: #ffe5e5;
		}
	}
	.masthead-login{
		position: relative;
		padding-top: 0.15rem;
		.masthead-figure{
			margin: 0;
			float: left;
			height: 1.00rem;
			width: 1.00rem;
			max-width: 1.00rem;
			border-radius: 50%;
			overflow: hidden;
			background-image: url("/static/images/avatar.png");
			background-repeat: no-repeat;
			background-size: contain;
			margin-right: 0.10rem;
		}
		.masthead-caption{
			margin-top: 0.10rem;
		}
		.masthead-setting{
			text-align: right;
			margin-top: 0.24rem;
			color: #ffe0dc;
		}
	}
}

// --------------------------------
// service
.service-section{
	.service-list{
		border-top: 1px solid #eee;
		padding-top: 0.05rem;
		.service-item{
			float: left;
			width: 20%;
		}
	}
	.service-cell{
		padding: 0.08rem 0;
		color: #666;
		font-size: 0.13rem;
		text-align: center;
	}
	.service-icon{
		display: inline-block;
		width: 0.30rem;
		height: 0.30rem;
		color: #999;
	}
	.icon-area{
		display: inline-block;
		position: relative;
		.icon-tip{
			position: absolute;
			top: 0;
			right: 0;
			font-style: normal;
			font-size: 0.12rem;
			line-height: 0.20rem;
			display: inline-block;
			width: 0.20rem;
			height: 0.20rem;
			border-radius: 50%;
			background-color: rgba(255,255,255,0.6);
			color: #ff3333;
			border: 0.01rem solid #ff3333;
			margin-top: -0.06rem;
    	margin-right: -0.06rem;
		}
	}

}


// --------------------------------
// advance
.advance-section{
	$columnNumber: 4;
	overflow: hidden;
	// border-top: 1px solid #ddd;
	// border-bottom: 1px solid #ddd;
	.advance-list{
		margin-right: -1px;
		margin-bottom: -1px;
		.advance-item{
			float: left;
			width: (1 / $columnNumber) * 100%;
			box-sizing: border-box;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
			&:nth-of-type(#{$columnNumber}n){
				border-right: 0;
			}
			&:active{ background-color: #f0f0f0;}
		}
	}
	.advance-cell{
		display: block;
		text-align: center;
		padding-top: 0.10rem;
		padding-bottom: 0.05rem;
		.advance-icon{
			width: 0.30rem;
			height: 0.30rem;
			display: inline-block;
		}
		.advance-text{
			display: block;
			color: #333;
			font-size: 0.12rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.advance-tip{
			display: block;
			color: #999;
			font-size: 0.10rem;
			// line-height: 1;
		}
	}
}
