@charset "UTF-8";

.info-section{
	.info-list{
		/*.inner-bar{ padding: 10px/$ppr 12px/$ppr; }*/
		.avatar-item{
			line-height: 80px/$ppr;
			.avatar-figure{
				float: right;
				font-size: 0;
				height: 80px/$ppr;
				width: 80px/$ppr;
				background-image: url("../images/avatar.png");
				background-repeat: no-repeat;
				background-size: contain;
				border-radius: 50%;
				overflow: hidden;
			}
		}
	}
	
}


//=============================================
// --------------------------------
// phone

/* verify step */
.verify-mobile-wrap{

	$step-number: 3 !default;
	$banner-background-color: #efefef !default;
	$step-color: #ccc !default;
	$step-color-active: #dd0000 !default;
	$step-color-verified: #008000 !default;

	padding: 15px/$ppr 12px/$ppr;

	.verify-mobile-step{
		overflow: hidden;
		counter-reset: rule-counter 0;
		.step-item{
			width: (1 / $step-number) * 100%;
			float: left;
			position: relative;
			overflow: hidden;
			text-align: center;
			strong{
				display: inline-block;
				position: relative;
				font-weight: normal;
				text-align: center;
				background-color: $banner-background-color;
				color: #666;
				font-size: 14px/$ppr;
			}
			&:before{
				content: "";
				display: inline-block;
				width: 100%;
				border-top: 1px dashed #000;
				position: absolute;
				top: 25%;
				left: 0;
				right: 0;
				z-index: 1;
			}

		}
		.step-icon{
			position: absolute;
			z-index: 2;
			display: block;
			left: 50%;
			margin-left: -10px/$ppr;
  		height: 100%;
  		background-color: $banner-background-color;
			&:after{
				content: counter(rule-counter);
	    	counter-increment: rule-counter;
	    	display: inline-block;
	    	width: 20px/$ppr;
	    	height: 20px/$ppr;
	    	border-radius: 50%;
	    	background-color: $step-color;
	    	color: #fff;
    	}
		}

		.step-num{
			display: block;
			position: relative;
			height: 20px/$ppr;
		}
		
		// first
		li:first-of-type{
			text-align: left;
			.step-icon{
				left: 0;
				right: auto;
	  		width: 50%;
	  		height: 100%;
	  		margin-left: auto;
	  		&:after{
					position: absolute;
					right: 0;
		    	transform: translateX(50%);
				}
			}
		}
		
		// last
		li:last-of-type{
			text-align: right; 
			.step-icon{
				left: auto;
				right: 0;
	  		width: 50%;
	  		height: 100%;
	  		margin-left: auto;
	  		&:after{
					position: absolute;
					left: 0;
		    	transform: translateX(-50%);
				}
			}
		}

		// active
		li.step-active{
			strong{
				color: $step-color-active;
			}
			&:before{ border-top-color: $step-color-active; }
			.step-icon:after{
				background-color: $step-color-active;
				color: #fff;
			}
		}

		// verified
		li.step-verified{
			strong{
				color: $step-color-verified;
			}
			&:before{ border-top-color: $step-color-verified; }
			.step-icon:after{
				background-color: $step-color-verified;
				color: #fff;
			}
		}

	}
}

// --------------------------------
// address

/* list item address */
.address-list{
	.address-item{
		padding-left: 12px/$ppr;
		padding-right: 12px/$ppr;
		margin-bottom: 12px/$ppr;
		background-color: #fff;
		&.default{
			background-color: #FDF2F4;
		}
	}

	.text-right{ text-align: right;}

	.address-title{
		padding-top: 10px/$ppr;
		padding-bottom: 8px/$ppr;
		font-weight: normal;
		font-size: 16px/$ppr;
	}
	.address-text{
		color: #666;
		font-size: 14px/$ppr;
		margin-bottom: 5px/$ppr;
	}
	.address-action{
		font-size: 14px/$ppr;
		padding: 10px/$ppr 0;
		border-top: 1px solid #eee;
		a{
			color: #666;	
			display: inline-block;
		}
	}
}




//=============================================
// --------------------------------
// custom
.notice-warn{
	padding: 21px/$ppr;
	font-size: 12px/$ppr;
	color: #666;
	.icon-warning{ color: #dd0000;}
}
