@charset "UTF-8";

html{
	min-height: 100%;
	font-family: "Microsoft YaHei", "Helvetical";
}

body{
	background-color: #efefef;
	font-size: .14rem;
	min-height: 100%;
}

h1,h2,h3,h4,h5,
dl,dt,dd,
p{
	margin: 0;
}

ul,ol,li{
	list-style: none;
	padding: 0;
	margin: 0;
}


* {
	box-sizing: border-box;
}

.cf{ zoom: 1; }
.cf:before,
.cf:after{
	content: "";
	display: table;
}
.cf:after{
	clear: both;
	overflow: hidden;
}

.text-center{ text-align: center; }

a{ text-decoration: none;}

// variable
$base-font-size-radio: ((10 / 16) * 1000%) / 360;

html{ font-size: $base-font-size-radio * 360; }

@media screen and (min-width:480px) and (max-width:639px) {
	html{ font-size: $base-font-size-radio * 640; }
}
@media screen and (min-width:640px) and (max-width:719px) {
	html{ font-size: $base-font-size-radio * 720; }
}
@media screen and (min-width:720px) and (max-width:749px) {
	html{ font-size: $base-font-size-radio * 750; }
}
@media screen and (min-width:750px) and (max-width:799px) {
	html{ font-size: $base-font-size-radio * 800; }
}
@media screen and (min-width:800px) and (max-width:959px) {
	html{ font-size: $base-font-size-radio * 960; }
}
@media screen and (min-width:960px){
	html{ font-size: $base-font-size-radio * 1080; }
}

.i-container{ 
	margin: auto;
	max-width: 1080px;
}

.height-inherit{
	height: inherit;
}

.table-center-wrap{
	display: table;
	table-layout: fixed;
	.table-center{
		display: table-cell;
		vertical-align: middle;
	}
}
