@charset "UTF-8";

html{
	min-height: 100%;
	font-family: "Microsoft Yahei", "Helvetical";
	font-size: 625%;
}

body{
	font-size: .14rem;
	min-height: 100%;
}

h1,h2,h3,h4,h5{
	margin: 0;
}

ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}


* {
	box-sizing: border-box;
}

.cl{

}
.cl:after{
	content: "";
	display: table-cell;
	clear: both;
}

