
.article{
	background-color: #efefef;
}

.i-touchme{
	max-width: 80%;
	text-align: center;
	margin: 10px/$ppr auto;
	background-color: #fff;
	border-radius: 3px/$ppr;
	.i-touchme__link{
		display: block;
		padding: 6px/$ppr 12px/$ppr;
		color: #666;
		text-decoration: none;
	}
}

.i-reg{
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px/$ppr 0;
	.i-reg__link{ 
		color: #666;
		text-decoration: none;
	}
	.i-reg__link--left{ float: left;}
	.i-reg__link--right{ float: right;}
}
