
.header{
	background-color: rgba(246,246,246,1);
	position: relative;
	line-height: 40px/$ppr;
	height: 40px/$ppr;

	.header__title{
		margin: 0;
		&.header__title--center{
			text-align: center;
			padding-left: 40px/$ppr;
			padding-right: 40px/$ppr;
		}
	}

	.header__link{
		display: inline-block;
		width: 40px/$ppr;
		height: 40px/$ppr;
		&.header__link--left{
			position: absolute;
			left: 0;
			top: 0;
		}
		&.header__link--right{
			position: absolute;
			right: 0;
			top: 0;
		}
	}

}
