<!-- home -->
<section>
	<figure>
		<img alt="">
		<figcaption><h3>usename</h3></figcaption>
	</figure>
	<a href="#/own/info">个人中心</a>
	<br>
	<a v-link="{path: 'own/home'}">测试</a>
	<ul>
		<li><a v-link="{path: '/own/ecard'}">电子会员卡</a></li>
		<li><a v-link="{path: '/track/list'}">我的足迹</a></li>
	</ul>
</section>

<section>
	<ul>
		<li><a v-link="{path: '/order/wait/pay'}" href="#">待支付</a></li>
		<li><a v-link="{path: '/order/wait/delivery'}" href="#">待发货</a></li>
		<li><a v-link="{path: '/order/wait/receive'}" href="#">待收货</a></li>
		<li><a v-link="{path: '/order/wait/evaluate'}" href="#">待评价</a></li>
		<li><a v-link="{path: '/order/refund'}" href="#">退款/售后</a></li>
	</ul>
	<p><a v-link="{path: '/order/list'}" href="#">我的订单</a></p>
</section>

<section>
	<p><a v-link="{path: '/order/cart'}" href="#">购物车</a></p>
</section>

<section>
	<p><a v-link="{path: '/own/activity'}" href="#">我的活动</a></p>
	<p><a v-link="{path: '/own/reservation'}" href="#">我的预约</a></p>
	<p><a v-link="{path: '/own/coupon'}" href="#">我的优惠券/红包</a></p>
</section>


