<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title v-text="rootTitle">我的家</title>
	
	<!-- result style -->
	{% for(var i=0; i < o.htmlWebpackPlugin.files.css.length; ++i){ %}
	<link rel="stylesheet" href="{%=o.htmlWebpackPlugin.files.css[i] %}">
	{% } %}

	<style>[v-cloak]{ display: none; }</style>
</head>
<body v-cloak>
	<header class="header cl">
		<h1 class="header__title header__title--center ellipsis--oneline" v-if="rootTitle" v-text="rootTitle">我的家</h1>
		<h1 class="header__title header__title--center ellipsis--oneline" v-else>我的家</h1>
		<a class="header__link header__link--left" href="javascrip:void(0);"><!-- back --></a>
		<a class="header__link header__link--right" href="javascrip:void(0);"><!-- menu --></a>
		<nav>
			<ul>
				<li><a v-link="{path: '/'}">我的首页</a></li>
				<li><a href="#/more">更多->not found</a></li>
			</ul>
		</nav>
	</header>

	<p>当前正在访问的路径： {{$route.path}} </p>

	<p><a v-link="{path: '/test'}">测试页</a></p>
	
	
	<article class="article i-container">
		<main class="jumbotron-main">
				<router-view>Loading...</router-view>
		</main>
		<aside>
			<p class="i-touchme"><a class="i-touchme__link" href="TEL:000-000-0000">咨询热线：<strong>000 000 0000</strong></a></p>
			<p class="i-reg cl"><a class="i-reg__link--left" href="#">登录</a><a class="i-reg__link--left" href="#">注册</a><a class="i-reg__link--right" href="#">TOP</a></p>
		</aside>
	</article>
	<footer class="footer">
		<p class="footer__copyright">Copyright {{nowYear}} 我的家 版权所有</p>
	</footer>
	
	<!-- result script -->
	{% for(var i=0; i < o.htmlWebpackPlugin.files.js.length; ++i){ %}
	<script src="{%=o.htmlWebpackPlugin.files.js[i] %}?version={%=(new Date()).getTime()%}"></script>
	{% } %}
	
</body>
</html>