<!DOCTYPE html>
<html lang="zh-ch">
<head>
	<meta charset="UTF-8">

	<title v-if="!!htmlTitle === false">我的家</title>
	<title v-else>{{htmlTitle}}</title>

	<!-- result style -->
	{% for(var i=0; i < o.htmlWebpackPlugin.files.css.length; ++i){ %}
	<link rel="stylesheet" href="{%=o.htmlWebpackPlugin.files.css[i] %}">
	{% } %}

</head>
<body>

	<header><h1 v-text=""></h1></header>

	<main class="jumbotron-main">
	<router-view>Loading...</router-view>
	</main>

	<footer>
		<p class="">Copyright &copy; {{ year ? year : '2015'}} 我的家 版权所有</p>
	</footer>

	<!-- result script -->
	{% for(var i=0; i < o.htmlWebpackPlugin.files.js.length; ++i){ %}
	<script src="{%=o.htmlWebpackPlugin.files.js[i] %}?version={%=(new Date()).getTime()%}"></script>
	{% } %}

</body>
</html>